* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to right, #da22ff, #9733ee);
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 3.5rem;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2.3rem;
}

#game {
  width: 330px;
  height: 530px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow-y: hidden;
  outline: 1px solid #000;
}

#hero {
  background-color: lightsalmon;
  width: 110px;
  height: 110px;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 110px;
}

#blocks {
  background-color: black;
  width: 110px;
  height: 110px;
  border-radius: 3px;
  position: absolute;
  animation: 0.7s movement infinite linear;
}

@keyframes movement {
  0% {
    top: -110px;
  }

  100% {
    top: 530px;
  }
}
